<!-- <div class="container">
	<div class="row">

	<h2>Sign up</h2>
	
	<%= devise_error_messages! %>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

		<fieldset>
	
			<div class="clearfix">
				<%= f.label :email %>
				<div class="input">
					<%= f.email_field :email %>
				</div>
			</div>
	
			<div class="clearfix">
				<%= f.label :password %>
				<div class="input">
					<%= f.password_field :password %>
				</div>
			</div>
	
			<div class="clearfix">
				<%= f.label :confirm, :for => "user_password_confirmation" %>
				<div class="input">
					<%= f.password_field :password_confirmation %>
				</div>
			</div>
	
			<div class="clearfix">
				<div class="input">
					<%= f.submit "Sign up", :class => "btn large primary" %>
				</div>
			</div>
	
			<% end %>
	
		</fieldset>

	</div>
</div> -->




<html>

 
<head>
    
    <title>
      join Linkedin | LinkedIn
    </title>

 <link href="/stylesheets/styling.css" rel="stylesheet">
<link href="favicon.ico" rel="icon">

  </head>
<body id="scrn_4_main_body">
  <div id="scrn_4_main_body"> 

<div id="scrn_4_header">
  <div id="scrn_4_logo"> </div>
  <p id="more_6_characters_top">Already on Linkedin?<a href="sign-in.html" title=""  class="hrefs"> Sign In</a> </p>
</div>  



<div id="scrn_4_inside_body">



  <div id="blue_top">
    <p id="head_in_blue">
      To join LinkedIn, sign up below...it's free!
    </p>

  </div>
<div id="diam"></div>

  <div id="input_fields">
  <!--   <form>

    <label class="labels">First Name:</label>
        <input class="scrn_4_input_field" type="text" value="" name=""></br>
        
        <label class="labels">Last Name:</label>
        <input class="scrn_4_input_field" type="text" value="" name=""></br>
        
        <label class="labels">Email:</label>
        <input class="scrn_4_input_field" type="text" value="" name=""></br>

    <label class="labels">Password:</label>
         <input class="scrn_4_input_field"  type="password" value="" name="">

    </form> -->

    <%= devise_error_messages! %>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

    <fieldset>
  
      

          <%= f.label :first_name %>
     
          <%= f.text_field :first_name %>


          <%= f.label :last_name %>
     
          <%= f.text_field  :last_name %>



        <%= f.label :email %>
     
          <%= f.email_field :email %>
     
       
     
        <%= f.label :password%>
               <%= f.password_field :password %>
     
     
        
  
      
          <%= f.submit "", :id=> "scrn_4_btn" %>
      
  
      <% end %>
  
    </fieldset>

  </div>

  



  
  



















  <div id="lazy_text">
  
    <p class="handwritten">Save time by using your Facebook account to sign up for LinkedIn.</p>
    <a href=""><input type="submit" value=""  id="scrn_4_btn2"></a>

    <strong id="star">*</strong>

  </div>

  




  <div id="btn_height">

    <p id="more_6_characters1">6 or more characters</p></br>

    <!--   <a href=""><input type="submit" value=""  id="scrn_4_btn"></a>

      
    <strong>*</strong>   -->
      

    <p id="more_6_characters">Already on Linkedin?<a href="sign-in.html" title=""  class="hrefs"> Sign In</a> </p>

  </div>

  


  <div id="below_line">

    <p id="more_6_characters"> * By joining LinkedIn, you agree to LinkedIn's <a href="userag.html" title="" class="hrefs">User Agreement,</a>
      <a href="" title="" class="hrefs">Privacy Policy</a> and <a href="" title="" class="hrefs">Cookie Policy</a>

    </p>



  </div>

  <p id="copy_right">LinkedIn Corporation &copy; 2013 | Commercial use of this site without express authorization is prohibited.</p>

    </div>
</div>
</body>



</html>